In [27]:
import pandas as pd
from project import read_enrollment_ethnicity, add_schoolyear, change_column_names
file_name = "schools_by_ethnicity.csv"

dictionary = {
    'Fiscal Year': "FiscalYear",
    'LEA Name': "DistrictName",
    'LEA Entity ID': "DistrictEntityID",
    'School Name': "SchoolName",
    'School Entity ID': "SchoolEntityID",
    'Asian': "Asian",
    'American Indian/Alaskan Native': "NativeAmerican",
    'Black/African American': "Black",
    'Hispanic/Latino': "Hispanic",
    'White': "White",
    'Native Hawaiian/Pacific Islander': "PacificIslander",
    'Multiple Races': "Multiracial",
    'Total': "Total"
}

dict = {
    'Fiscal Year': ["FiscalYear","int64"], 
    'LEA Name': ["DistrictName","object"],
    'LEA Entity ID': ["DistrictEntityID","float64"],
    'School Name': ["SchoolName","object"],
    'School Entity ID': ["SchoolEntityID","float64"],
    'Asian': ["Asian","float64"],
    'American Indian/Alaskan Native': ["NativeAmerican","float64"],
    'Black/African American': ["Black","float64"],
    'Hispanic/Latino': ["Hispanic","float64"],
    'White': ["White","float64"],
    'Native Hawaiian/Pacific Islander': ["PacificIslander","float64"],
    'Multiple Races': ["Multiracial","float64"],
    'Total': ["Total", "float64"]
}
col = ["FiscalYear ", "DistrictName", "DistrictEntityID", "SchoolName", "SchoolEntityID",
        "Asian", "NativeAmerican", "Black", "Hispanic", "White", "PacificIslander", "Multiracial", "Total"]

In [28]:
df = pd.read_csv(file_name, na_values=["*"], nrows=5)
df

,Fiscal Year,LEA Name,LEA Entity ID,School Name,School Entity ID,Asian,American Indian/Alaskan Native,Black/African American,Hispanic/Latino,White,Native Hawaiian/Pacific Islander,Multiple Races,Total
0,2022,Arizona,NaN,NaN,NaN,34146.0,47580.0,64183.0,532761.0,405759.0,4224.0,44346.0,NaN
1,2022,St Johns Unified District,4153.0,Coronado Elementary School,4517.0,NaN,17.0,NaN,75.0,172.0,NaN,NaN,270.0
2,2022,St Johns Unified District,4153.0,St Johns Middle School,4710.0,NaN,29.0,NaN,92.0,216.0,NaN,NaN,345.0
3,2022,St Johns Unified District,4153.0,St Johns High School,4711.0,NaN,31.0,NaN,75.0,185.0,NaN,NaN,302.0
4,2022,St Johns Unified District,4153.0,St. Johns Learning Center,89607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0

In [29]:
ndf = change_column_names(df, dict)
ndf

,FiscalYear,DistrictName,DistrictEntityID,SchoolName,SchoolEntityID,Asian,NativeAmerican,Black,Hispanic,White,PacificIslander,Multiracial,Total
0,2022,Arizona,NaN,NaN,NaN,34146.0,47580.0,64183.0,532761.0,405759.0,4224.0,44346.0,NaN
1,2022,St Johns Unified District,4153.0,Coronado Elementary School,4517.0,NaN,17.0,NaN,75.0,172.0,NaN,NaN,270.0
2,2022,St Johns Unified District,4153.0,St Johns Middle School,4710.0,NaN,29.0,NaN,92.0,216.0,NaN,NaN,345.0
3,2022,St Johns Unified District,4153.0,St Johns High School,4711.0,NaN,31.0,NaN,75.0,185.0,NaN,NaN,302.0
4,2022,St Johns Unified District,4153.0,St. Johns Learning Center,89607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0